/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button{
background-color: #777;
}

.images{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}