/* CSS Reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* una classe per le immagini di default (non-attive) */
.img {
    border-radius: 0.5rem;
    width: 10rem;
    opacity: 0.5;
}

/* una classe per immagine "attiva" */
.imgActive {
    opacity: 1;
}